<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	    <title>Simple Sociality</title>
	    <!-- Bootstrap -->
	    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
	</head>

	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<body>
		<div class="container-fluid">
			<div class="row-fluid" align="center">
				<div class="span12">
					<form class="form-inline" action="/usercreate" method="post">
						<fieldset>
							 <legend>Login</legend>
							 <span class="help-block">To login, you can create a new user</span>
							 <br></br>
							 <label>Name</label> <input type="text" name="username" placeholder="New User" /> <button type="submit" class="btn btn-default btn-sm">Create</button>
						</fieldset>
					</form>
				</div>
				<div th:if="${not #lists.isEmpty(users)}" >
					<br></br>
					<span class="help-block">or select an existing one</span>
					<br></br>
					<div class="span12">
						<form class="form-inline" action="/userlogin" method="post">
							<select name="userid" class="form-control">
								<option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
							</select>
							<button type="submit" class="btn btn-default btn-sm">Login</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
